@import '~assets/styles/vars';
@import '~assets/styles/mixins';

.favButton {
  display: inline-block;
  margin-right: $size-sm;
  width: auto;

  .starIconBtn {
    background: none;
    border: 0;
    display: block;
    margin: $size-xsm auto 0;
    padding: 0;
    text-decoration: none;

    .starIcon {
      cursor: pointer;
      fill: get-color(secondary);
      height: 25px;
      width: 25px;
    }
  }

  &.favButtonNarrow {
    display: block;
    margin-bottom: 0;

    .starIconBtn {
      vertical-align: middle;
      display: inline-block;
      margin: 0 0 0 $size-md;
    }
  }
}
