@import '../../../../assets/styles/vars';
@import '../../../../assets/styles/mixins';

.favButton {
  width: auto;
  display: inline-block;
  margin-right: $size-sm;
}

.starIconBtn {
  display: block;
  margin: $size-xsm auto 0 auto;
  background: none;
  border: 0;
  text-decoration: none;
  padding: 0;
}

.starIcon {
  width: 25px;
  height: 25px;
  fill: get-color(secondary);
  cursor: pointer;
}
