// Vars
@import '~assets/styles/vars';

.mainWrapper {
  position: relative;
  width: 100%;
}
.wrapper {
  height: 0;
  width: 100%;
  text-align: left;
  opacity: 0;
  overflow: visible;
  overflow-y: hidden;
}

.innerWrapper {
  transform: translateY(-100%);
  transition: transform 300ms ease-out;
}

.active {
  height: auto;
  opacity: 1;

  .innerWrapper {
    transform: translateY(0);
  }
}
