@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

// Tray vars
$t-height: 105vh;
$t-width: 100%;
$t-bg: white;
$t-border-radius: 10px;
$t-y-pos: calc(50vh - 210px);
$d-t-width: 400px;
$d-t-height: 500px;
$d-t-height-lv: 300px;

// Bar vars
$t-bar-width: 30%;
$t-bar-height: 2px;
$t-bar-bg: #d8d8d8;
$t-bar-margin: $margin-sm;

.tray {
  position: absolute;
  z-index: 1;
  top: $t-y-pos;
  background-color: $t-bg;
  border-radius: $t-border-radius;
  width: $t-width;
  min-height: $t-height;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  @media only screen and (min-width: 1200px) {
    top: 3 50px;
    left: $size-lg;
    width: $d-t-width;
    //Was 500px;
    // height: 500px;

    //Now set to
    height: auto;
    min-height: 500px;

    // &.listView {
    //     left: calc(50% - (#{$d-t-width} + #{$size-lg}));
    // }
  }

  &.listView {
    height: $d-t-height-lv;
    min-height: $d-t-height-lv;
    transition: height ease 0.5s;
  }
}

.searchOpen {
  transition: transform ease 0.2s;
  transform: translate(0px, -250px) !important;
}

.searchClosed {
  transition: transform ease 0.2s;
}

.bar {
  height: $t-bar-height;
  width: $t-bar-width;
  background-color: $t-bar-bg;
  cursor: pointer;
  margin: $t-bar-margin auto;

  @media only screen and (min-width: 1200px) {
    display: none;
  }
}
