@import '../../../assets/styles/vars';
@import '../../../assets/styles/mixins';

$offset-top: $size-lg;

.map {
  width: 100%;
  height: 80vh;
  background-color: #eee;
  top: $offset-top;
  left: 0;
  z-index: -1;
}

//Temp hidden untill proper scss is added
.esri-ui {
  display: none !important;
}
