@import '../../../assets/styles/vars';
@import '../../../assets/styles/mixins';

$offset-top: $size-lg;

.map {
  width: 100%;
  height: calc(100vh - 122px);
  background-color: #eee;
  top: $offset-top;
  left: 0;
  z-index: -1;

  @media all and(min-width: 410px) {
    height: calc(100vh - 138px);
  }
}

//Temp hidden untill proper scss is added
.esri-ui {
  display: none !important;
}
