[[plugins]]
package = "@netlify/plugin-sitemap"

[[plugins]]
package = "@sentry/netlify-build-plugin"

[plugins.inputs]
  sentryOrg = "wmca-digital"
  sentryProject = "wmn-disruptions"

# Set env variables for deploy preview on netlify
[context.deploy-preview.environment]
  REACT_APP_API_HOST='https://wmca-api-portal-staging.azure-api.net'
  REACT_APP_API_KEY='0d4cca4a2c5d40c3bfbbfe45d1bbf294'
  REACT_APP_BUS_AUTOCOMPLETE_API='https://rtccdisruptions6zqwajo6s.azurewebsites.net/api'
