// Vars
@import '../../../../../../assets/styles/vars';
// Mixins
@import '../../../../../../assets/styles/mixins';

.selectedItemBox {
  padding: $size-sm;
  border: 1px solid get-color(primary);
  width: 100%;
  position: relative;
}

.selectedSummary {
  margin-top: $size-md;
  width: 100%;

  @media all and (min-width: 380px) {
    max-width: calc(100% - (190px));
    margin-top: 0;
    margin-right: $size-md;
  }
}
