@import '../../../assets/styles/vars';
@import '../../../assets/styles/mixins';

$results-height-open: 150px;

.container {
    padding-top: $padding-md;

    * {
        vertical-align: middle;
    }
}

.resultsContainer {
    height: 0px;
    overflow-y: scroll;
    transition: height ease .7s, opacity ease .7s   ;
    opacity: 0;
}

.isOpen {
    border: 1px solid #ccc;
    height: $results-height-open;
    opacity: 1;
}

.noResults {
    padding: $padding-md;
    display: block;
}
