@import '../../../assets/styles/vars';
@import '../../../assets/styles/mixins';

$btn-width: 115px;
$sm-mob-width: 92px;
$sm-mob-height: 66px;

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    // max-height: 48px;
    max-width: $btn-width;
    div {
        border-color: transparent !important;
        padding-left: 0;
        padding-right: 0;
    }
}

.chooseDateWrapper {
    position: relative;
}

.chooseDateBtn {
    position: absolute;
    right: $padding-md;
    max-width: $btn-width;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 48px;

    @media only screen and (max-width: 320px) {
        height: $sm-mob-height!important;
        width: $sm-mob-width;

    }
}

.datePicker {
    // pointer-events: none;
    input {
        max-width: $btn-width;
        opacity: 0;

        @media only screen and (max-width: 320px) {
            height: $sm-mob-height!important;
            width: $sm-mob-width;
        }
    }
}



