.disruptions-date-picker {
  border-radius: 0.1rem;
  background-color: none;
  border: none;
  margin: 25px 70px;
  box-shadow: 0 0 5px 0 rgba(192, 192, 192, 0.5);
  background-color: #ffffff;
}

//Date Picker - Weekends Background Colours
.react-datepicker {
  &__header {
    background: none;
    border: none;
  }
  &__day--weekend {
    background-color: #f5f5f5;
  }

  //Prev & Next Icons
  &__navigation {
    height: 12px;
  }
  &__navigation--previous {
    border-right-color: #111111;
  }
  &__navigation--next {
    border-left-color: #111111;
  }

  //Day Name
  &__day-name {
    border-bottom: solid 1px #979797;
    padding: 0px;
    margin: 0px;
  }

  &__day {
    padding: 0px;
    margin: 0px;
  }

  //Week
  &__week {
    padding: 0px;
    margin: -1px;
  }

  //Active state
  &__day--selected,
  &__day:hover {
    border-radius: 0.9rem;
    background-color: #e2cee7;
    color: #333333;
    // font-weight: bold;
  }
  //Bold the select date font
  &__day--selected {
    font-weight: bold;
  }

  //Today State
  &__day--today {
    font-weight: normal;
  }

  //Hover state
}
