@import '../../../../../../styles/vars';
@import '../../../../../../styles/mixins';

.container {
    padding: ($padding-sm / 3) $padding-sm;
    display: flex; 
    flex-direction: row;
    align-items: stretch;
    transition: background-color ease .2s;
    border-bottom: 1px solid #ccc;

    &:hover {
        background-color: rgba(getColor(secondary), .5);
    }
}

.iconWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.favWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: getColor(secondary);
    font-size: 30px;
}

.detailsWrapper {
    padding: $padding-sm;
    flex: 1;
}

.closeWrapper {
    padding: $padding-sm;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
