@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

.headerWrapper {
  background-color: get-color(background);
}

@media all and(max-width: 410px) {
  .h1 {
    @include type-setting(3);
    line-height: initial;
  }
  .listMapBtn {
    padding: $size-xs;
  }
}
