@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

@media all and(max-width: 410px) {
  .h1 {
    @include type-setting(3);
    line-height: initial;
  }
  .listMapBtn {
    padding: $size-xs;
  }

  @media only screen and (min-width: $breakpoint-md) {
  }
}
