@import '../../assets/styles/vars';

.container {
    background-color: #f3f2f1;
    padding: $padding-sm;
}

.title {
    margin: 0;
}

.btnContainer {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    margin-top: -50px !important;

    button {
        height: 48px;
    }
}