// Vars
@import '../../assets/styles/vars';
// Mixins
@import '../../assets/styles/mixins';

.listview-tray {
  position: sticky;
}

.clear {
  clear: both;
}

.isFav {
  width: 20%;
}

.serviceNumber {
  font-family: $x-font-family;
  font-weight: bold;
  color: #ffffff;
}

.favStar {
  width: 25px;
  height: 25px;
  color: #9d5baf;
}

.serviceNumber {
  margin-right: 10px;
}
