// Vars
@import '../../assets/styles/vars';
// Mixins
@import '../../assets/styles/mixins';

.listview-tray {
  height: auto;
  margin-bottom: $size-lg;
  position: initial;

  @media only screen and (min-width: $breakpoint-md) {
    left: 0;
    margin: 0;
    position: sticky;
  }
}

.clear {
  clear: both;
}

.isFav {
  width: 20%;
}

.serviceNumber {
  font-family: $x-font-family;
  font-weight: bold;
  color: #ffffff;
}

.favStar {
  width: 25px;
  height: 25px;
  color: #9d5baf;
  fill: #9d5baf;
}

.serviceNumber {
  margin-right: 10px;
}
