// Vars
@import '../../../assets/styles/vars';
// Mixins
@import '../../../assets/styles/mixins';
.results {
  padding: 0;
  margin-top: 0;
  max-height: 300px;
  overflow-y: scroll;

  > li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid get-color(primary);
    border-left: 1px solid get-color(primary);
    border-right: 1px solid get-color(primary);
    cursor: pointer;

    &:hover {
      background-color: get-color(information, 80);
    }

    .indicator {
      margin-right: 15px;
    }
  }
}
