@import '../../../../assets/styles/vars';
@import '../../../../assets/styles/mixins';

.container {
    margin-bottom: $margin-md;
}

.topContainer {
    padding: ($padding-sm / 3) $padding-sm;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    transition: background-color ease .2s;

    &.disruption {
        background-color: getColor(warning);
        color: white;

        .expandWrapper > i {
            color: white !important;
        }
    }
}

.iconBg {
    border-radius: 5px;
    border-color: transparent;
    padding: 4px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 60px;

    &.minor {
        background-color: getColor(minorWarning);
        color: white;
    }

    &.major {
        background-color: white;
        color: getColor(warning);
    }

    i {
        font-size: 22px;
    }
}

.iconWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.detailsWrapper {
    padding: $padding-sm;
    flex: 1;
}

.affectedServices {
    padding: $padding-md $padding-sm $padding-sm / 3 $padding-sm;
}

.expandWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    i {
        font-size: 30px;
        margin-right: $margin-sm;
        color: getColor(secondary);
        cursor: pointer;
    }
}

.as {
    padding-bottom: $padding-sm / 2;
    display: block;
}
