// Vars
@import '../../../../../assets/styles/vars';
// Mixins
@import '../../../../../assets/styles/mixins';

.selectedItemBox {
  padding: $size-sm;
  border: 1px solid get-color(primary);
  width: 100%;
  position: relative;
}

.selectedSummary {
  margin-right: 50px;
  max-width: 80px;
  @media all and (min-width: 380px) {
    max-width: 130px;
  }
}

.cancelIcon {
  width: 22px;
  height: 22px;
  fill: get-color(secondary);
}
