@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

$offset-top: $size-lg;

.map {
  width: 100%;
  height: calc(80vh - #{$offset-top});
  background-color: #eee;
  border: 2px solid #ddd;
  top: $offset-top;
  left: 0;
  z-index: -1;
}

//Temp hidden untill proper scss is added
.esri-ui {
  display: none !important;
}
