@import '~assets/styles/vars';
@import '~assets/styles/mixins';

$offset-top: $size-lg;

.disruptions-esri-map {
  height: 100%;
  width: 100%;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: height 0.35s ease;

  @media all and (min-width: 768px) {
    position: static;
    width: calc(100% - 414px); // 414px is the width of the tray
    float: right;
  }

  // Styling for ui in the top right
  .esri-ui-top-right {
    flex-flow: column-reverse;

    .esri-zoom {
      background: 0;
      box-shadow: none;
      border: 0;
    }

    // locate and zoom buttons
    .esri-locate,
    .esri-zoom .esri-widget--button {
      width: 35px;
      height: 35px;
      border-radius: 5px;
      margin-bottom: $size-sm;
      box-shadow: none;

      &:focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #9d5baf;
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #9d5baf;
      }
    }

    // zoom buttons
    .esri-zoom .esri-widget--button {
      background-color: get-color(information);
      color: white;

      &:hover {
        background-color: get-color(information, 30, dark);
      }

      // make icons a bit bigger
      .esri-icon {
        font-size: 18px;
        font-weight: bold;
      }
    }

    // locate button
    .esri-locate {
      background: none;
      color: get-color(primary);
      border: 1px solid get-color(primary);

      &:hover {
        background-color: get-color(secondary, 70);
      }

      // custom locate icon
      .esri-icon-locate:before {
        content: '';
        display: block;
        height: 18px;
        width: 18px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m223.13 1.766-208.7 96.324c-24.079 11.238-16.053 46.555 9.632 46.555h88.3v88.298c0 25.684 35.317 33.716 46.556 9.632l96.325-208.7c8.026-19.27-12.845-40.14-32.11-32.109z' fill='%233c1053'/%3E%3C/svg%3E%0A");
      }
    }
  }
}
