@import '../../../assets/styles/vars';
@import '../../../assets/styles/mixins';

// Default tray styling
.tray {
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  height: 100%;
  transition: top 0.35s ease;
  overscroll-behavior-y: contain;

  // On desktop/bigger displays
  @media only screen and (min-width: $breakpoint-md) {
    position: absolute;
    top: 28px;
    left: 48px;
    max-width: 406px;
    width: 100%;
    height: auto;
    max-height: 60%;
    overflow: auto;
  }
}

// class used by Swipe component
.swipeTrayWrapper {
  display: block;
  height: 100%;
  width: 100%;
  overflow: auto;
  overscroll-behavior-y: contain;
}

// The drawer handle/line at top of tray
.drawerHandle {
  height: 10px;
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 1px;
    width: 90px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #393033;
  }

  p {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }
}
